#screen {
    margin-top: 80px;
    border: var(--dark-blue) 2px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80%;
    max-width: 1000px;
    background-color: white;
}

#screen-div {
    display: flex;
    flex-direction: column;
}

#param {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#param * {
    display: inline-block;
    margin: 4px 10px;
}

#zoom_p {
    width: 50px;
    text-align: center;
}

#speed_div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#speed {
    margin: auto 10px;
}

#zoom_plus, #zoom_minus {
    margin: 4px 0;
    font-size: 16px;
    width: 25px;
    height: 25px;
}

#speed_label {
    width: 110px;
    text-align: center;
    white-space: nowrap;
    margin: auto 10px auto 0;
}

#start_pause {
    width: 42px;
    height: 42px;
    background-image: url("../images/start.png");
    border: 0;
    background-color: transparent;
    transition: transform 0.4s ease-out;
}

#start_pause:hover {
    transform: rotate(360deg);
}

#grab_button {
    width: 42px;
    height: 42px;
    background-image: url("../images/grab.png");
    border: 0;
    border-radius: 8px;
    background-size: 80%;
    background-color: transparent;
    transition: background-color 0.1s ease-in;
}

#file_button {
    margin: 0 40px;
    height: 42px;
    width: 156px;
    background-image: url("../images/file.png");
    background-color: transparent;
    border: 0;
    transition: filter 0.1s ease;
}

#file_button:hover {
    filter: brightness(1.1);
}

#grab_button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#grab_button.active {
    background-color: rgba(255, 255, 255, 0.4);
}

.imgbutton {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}