:root {
    --dark-blue: #161C34;
    --blue: #0992C2;
    --light-blue: #0AC4E0;
    --background-color: #202A4D;
}

body {
    background-color: var(--background-color);
    font-family: Inter, "Josefin Sans", Roboto, "Open Sans";
    margin: 0;
}

h1, h2 {
    color: #E9EAED;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

p, label {
    color: #C7C9D2;
    font-size: 22px;
}

header {
    background-color: var(--dark-blue);
    height: 50px;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 0;
    list-style: none;
}

header ul {
    margin: 0;
    height: 100%;
}

header li {
    display: inline-block;
    margin: 0 50px;
    padding: 0 10px;
    transition: background-color 0.2s ease;
    background-color: inherit;
    height: 100%;
    cursor: pointer;
}

header li:hover {
    background-color: #21284b;
}

header a {
    margin: auto 0;
    text-decoration: none;
    color: inherit;
    position: relative;
    top: -10px;
}

#content {
    align-content: center;
    text-align: center;
}

#content > p {
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    margin-bottom: 40px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

#screen {
    margin-top: 80px;
    border: var(--dark-blue) 2px solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 60%;
    background-color: white;
}

#screen-div {
    display: flex;
    flex-direction: column;
}

#param {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#param * {
    display: inline-block;
    margin: 4px 10px;
}

#zoom_p {
    width: 50px;
    text-align: center;
}

#speed_div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#speed {
    margin: auto 10px;
}

#zoom_plus, #zoom_minus {
    margin: 4px 0;
    font-size: 16px;
    width: 25px;
    height: 25px;
}

#speed_label {
    width: 110px;
    text-align: center;
    white-space: nowrap;
    margin: auto 10px auto 0;
}

#start_pause {
    width: 42px;
    height: 42px;
    padding: 0;
    background-color: transparent;
    border: 0;
    transition: transform 0.4s ease-out;
}

#start_pause:hover {
    transform: rotate(360deg);
}

#start_pause img {
    height: inherit;
    margin: 0;
    padding: 0;
}